{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}BlogShop{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header class="header">
        <div class="container-header">
            <a href="/" class="link-header">
                <img src="{% static 'img/home.png' %}" alt="" class="home">Home
            </a>
            <h1>
                {% if user.is_authenticated %}
                    <a href="{% url 'users:profile' %}" class="link-header">{{ user }}</a>
                {% else %}
                    <a href="{% url "login" %}" class="link-header">Login </a>
                {% endif %}
            </h1>
        </div>
    </header>
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>