{% extends "base.html" %}
{% load static %}

{% block title %}
    {{user}}
{% endblock title %}

{% block content %}
    <ul>
        {% for post in posts %}
            <li class="profile-post">
                <a href={{post.get_absolute_url}}>
                    <div class="profile-post-title">{{post.product}}</div>
                    {% if post.image %}<div><img src={{post.image.url}} class="profile-post-image"></div>{% endif %}
                    <div class="profile-post-price">{{post.price}}$</div>
                    </a>
            </li>
        {% endfor %}
    </ul>
    {% include "users/profile.html" %}
{% endblock content %}